body {
  background-color: powderblue;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
h2{
  color: black
}
h3{
  color: black
}
h4{
  color: black
}
h5{
  color: black
}
h6{
  color: black
}

p  {
  color: Blue;
  font-family: verdana;
  font-size: 160%;
}

div {
  border: 1px outset black;
  background-color: lightblue;
  text-align: center;
}

button{
  
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;

}
