/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_vertical_tabs.asp> */

h1 {
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 300%;

}

h3{
  color: white;
}

div {
  border: 3px outset red;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 4px
}

/* Style the tab */

/* The navigation menu links */
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
