/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
h1 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 300%;

}

div{
  background-color: red;
}

.diss{
  border: 10px black;
  padding: 14px 16px;
  background-color:	dimgray;
}

.diss2{
  border: black;
  padding: 14px 16px;
  background-color:orangered;

}

.diss3{
  border: black;
  padding: 14px 16px;
  background-color:	gold;

}

.diss4{
  border: black;
  padding: 14px 16px;
  background-color:orange	;

}
.diss5{
  border: black;
  padding: 14px 16px;
  background-color:coral	;

}

.diss6{
  border: 4px black;
  padding: 20px 20px;
  background-color:gold;


}


/* Style the tab */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */
#filter {background-color:orangered;}
#product {background-color:gold;}
#cart {background-color:orange;}
#done {background-color:coral;}
