/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
h1 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 300%;

}

div {

}

.diss{

  background-color:	dimgray;
}
/* Style the tab */
/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */
#filter {background-color:orangered;}
#product {background-color:gold;}
#cart {background-color:orange;}
#done {background-color:coral;}
