<!-- This is writtin By Jessie Detchou For SEG3532 Lab1-->

<!DOCTYPE html>
<html>

<!-- The head should contain an appropriate title for your site -->
<head>
<title>Sondage d'une page interface</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use JQuery as well as JQueryUI library -->
    <!-- which is built on top of JQuery and offers additional possibilities -->
    <!-- For example, JQuery UI has a datepicker which is popular and that we can use -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/excite-bike/jquery-ui.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Your own script -->
    <!-- <script src="scripts/service.js"></script> -->

    <!-- Your own additional style sheet -->
    <link href="/assets/styleSheet.css" rel="styleSheet" type="text/css">

</head>
<body>

<div class="container-md p-3 my-3 border bg-light" id="survey">
<center><h1>Sondage d'une page interface</h1></center>
</div>

<br>
<center><h4>Ceci est un sondage sur interface usager du Site Web de Craigslist.</h4></center>

<center><h4>Suit le lien ci-dessous pour voir le site Web a analyser.</h4></center>
<center><a href="https://calgary.craigslist.org/"> https://calgary.craigslist.org/</a></center>
<br>
<center><img src="/assets/mImage.png" width="500" height="400"></center>

<br>
<br>

<center><form>

<div class= "container-md p-3 my-3 border bg-light">
<h4>
  Q1. Quelle est votre première impression de la mise en page du Site Web: <br><input type ="text" name="question1" required >
</h4><br>
</div>

<div class="container-md p-3 my-3 border bg-light">
<h4>Q2. Quel aspect du Site Web nécessite le plus d'amélioration parmi les choix suivant:  </h4><br>
  Choix de couleur:
  <input type ="radio" name="question2" value= "couleur"><br>
  Proximité des liens:
  <input type ="radio" name="question2" value= "proximité-des-liens"><br>
  Mise en page:
  <input type ="radio" name="question2" value= "mise-en-page"><br>
<br>
</div>

<div class="container-md p-3 my-3 border bg-light">
  <h4>Q3. Selectionnez le but le plus reussi. </h4><br>
  <select name="question3" class="custom-select">
    <option value= "cohérence">Cohérence</option>
    <option value= "fonctionnalité">Fonctionnalité</option>
    <option value= "efficacité">Efficacité</option>
    <option value= "utilisabilité">Utilisabilité</option>
    <option value= "sécurité-de-données">Sécurité des données</option>
    <option value= "fiabilité">Fiabilité</option>
  </select>
  <br>
  <br>
</div>


<div class="container-md p-3 my-3 border bg-light">
  <h4>Q4. Pensez-vous facilement pouvoir utiliser ce Site Web? </h4><br>
    Oui: <input type ="radio" name="question4" value= "oui"><br>
    Non: <input type ="radio" name="question4" value= "non"><br>
 <br>
</div>

<div class="container-md p-3 my-3 border bg-light">
  <h4>Q5. Quelle tachê pouvez-vous rapidement accomplir? </h4><br>
    Rechercher un item:
    <input type ="checkbox" name="question5" value= "Rechercher-un-item"><br>
    Créer un compte:
    <input type ="checkbox" name="question5" value= "Créer-un-compte"><br>
    Afficher une publication:
    <input type ="checkbox" name="question5" value= "Afficher-une-publication"><br>
  <br>
</div>

<div class="container-md p-3 my-3 border bg-light">
  <h4>Q6. Remplissez le tableau suivant. </h4><br>
  <center>
  <table>
    <tr>
      <th></th>
      <th>Non-Satisfaisant</th>
      <th>Peu-Satisfaisant</th>
      <th>Neutre</th>
      <th>Satisfaisant</th>
      <th>Très-Satisfaisant</th>

    </tr>

    <tr>
    <td>Cohérence</td>
    <td><input type ="radio" name="question6a" value= "Non-Satisfaisant"></td>
    <td><input type ="radio" name="question6a" value= "Peu-Satisfaisant"></td>
    <td><input type ="radio" name="question6a" value= "Neutre"></td>
    <td><input type ="radio" name="question6a" value= "Satisfaisant"></td>
    <td><input type ="radio" name="question6a" value= "Très-Satisfaisant"></td>
    </tr>

    <tr>
    <td>Efficacité</td>
    <td><input type ="radio" name="question6b" value= "Non-Satisfaisant"></td>
    <td><input type ="radio" name="question6b" value= "Peu-Satisfaisant"></td>
    <td><input type ="radio" name="question6b" value= "Neutre"></td>
    <td><input type ="radio" name="question6b" value= "Satisfaisant"></td>
    <td><input type ="radio" name="question6b" value= "Très-Satisfaisant"></td>
    </tr>

    <tr>
    <td>Fonctionnalité</td>
    <td><input type ="radio" name="question6c" value= "Non-Satisfaisant"></td>
    <td><input type ="radio" name="question6c" value= "Peu-Satisfaisant"></td>
    <td><input type ="radio" name="question6c" value= "Neutre"></td>
    <td><input type ="radio" name="question6c" value= "Satisfaisant"></td>
    <td><input type ="radio" name="question6c" value= "Très-Satisfaisant"></td>
    </tr>

    <tr>
    <td>Fiabilité</td>
    <td><input type ="radio" name="question6d" value= "Non-Satisfaisant"></td>
    <td><input type ="radio" name="question6d" value= "Peu-Satisfaisant"></td>
    <td><input type ="radio" name="question6d" value= "Neutre"></td>
    <td><input type ="radio" name="question6d" value= "Satisfaisant"></td>
    <td><input type ="radio" name="question6d" value= "Très-Satisfaisant"></td>
    </tr>

    <tr>
    <td>Sécurité</td>
    <td><input type ="radio" name="question6e" value= "Non-Satisfaisant"></td>
    <td><input type ="radio" name="question6e" value= "Peu-Satisfaisant"></td>
    <td><input type ="radio" name="question6e" value= "Neutre"></td>
    <td><input type ="radio" name="question6e" value= "Satisfaisant"></td>
    <td><input type ="radio" name="question6e" value= "Très-Satisfaisant"></td>
    </tr>

    <tr>
    <td>Utilisabilité</td>
    <td><input type ="radio" name="question6f" value= "Non-Satisfaisant"></td>
    <td><input type ="radio" name="question6f" value= "Peu-Satisfaisant"></td>
    <td><input type ="radio" name="question6f" value= "Neutre"></td>
    <td><input type ="radio" name="question6f" value= "Satisfaisant"></td>
    <td><input type ="radio" name="question6f" value= "Très-Satisfaisant"></td>
    </tr>


  </table>
</center>
  <br>
</div>

<div class="container-md p-3 my-3 border bg-light">
  <h4>Commentaire:<br> <textarea rows="5" cols="30"> </textarea>
</div>

<center><button type="submit" class="btn btn-primary" id="bb">Submit</button></center>
<p id="thanks"></p>

</form></center>

<h6>Site Web conçu par Jessie Detchou</h6>
<script src="/assets/action.js"></script>
</body>
</html>
